@font-face {
  font-family: 'Comico';
  src: url('../../assets/fonts/Comico-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Epoch';
  src: url('../../assets/fonts/Epoch-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}