/* FOR GLOBAL STYLES - CONSISTENT STYLES */

/* == COLORS == */
/* DARK-BLUE : #0C1821 */
/* CRIMSON : #B23A48*/
/* SUNSHINE : #FFC107 */
/* CALM : #0277BD */
/* COOL-WHITE : #DBD5FC */

/* == BACKGROUND == */
:root {
  min-height: 100vh;
  position: relative;
  background: linear-gradient(180deg, #FFFFFF, #DBD5FC) no-repeat;
}

/* Noise layer */
:root::before {
  content: '';
  position: fixed;
  inset: 0;
  z-index: -2;
  opacity: 0.25;
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 256 256' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noise'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.70' numOctaves='4' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noise)'/%3E%3C/svg%3E");
  background-size: 256px 256px;
  background-repeat: repeat;
}

/* Scratch texture layer */
:root::after {
  content: '';
  position: fixed;
  inset: 0;
  z-index: -1;
  background-image: url('./assets/images/design/background/scratched_Texture_Transparent.png');
  background-size: cover;
  opacity: 0.4;
}

/* == FONTS == */
.comico-font {
  font-family: 'Comico-Regular', sans-serif;
  letter-spacing: 2px
}

.epoch-font {
  font-family: 'Epoch', sans-serif;
  letter-spacing: 2px;
}

/* TEXT */

/* CONTAINERS */


/* ANIMATIONS */
.animate_decorator {
  stroke-dasharray: 1;
  stroke-dashoffset: 1;
  animation: dash 1.5s ease-in forwards 
}

@keyframes dash {
  from {
    stroke-dashoffset: 1;
  }
  to {
    stroke-dashoffset: 0;
  }
}